<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Twitter Notes</title>
        <link rel="stylesheet" href="login.css">
    </head>
    <body>
        <div>
            <h1>Twitter Notes</h1>

            <a href="/auth/twitter">
                <img src="twitterSignIn.png" alt="Sign In With Twitter">
            </a>
        </div>
    </body>
</html>
